<?xml version="1.0" encoding="UTF-8"?>
<Resource name="jdbc/LiveDataSource"
 auth="Container"
 type="javax.sql.DataSource"
 maxTotal="100"
 maxIdle="30"
 maxWaitMillis="10000"
 username="james"
 password="Ja96Ja96@"
 driverClassName="com.mysql.jdbc.Driver"
 url="jdbc:mysql://localhost:3306/employees"/>